.containerInfo {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5vh;
}

.boxLeft {
}

.boxRight {
}

.titleInfo {
    text-shadow: 2px 2px 3px rgb(197, 197, 197), 0 0 0px rgb(197, 197, 197), 2px 2px 3px rgb(197, 197, 197);
    font-weight: 800;
    margin-bottom: 50px;
}

.descriptionInfo {
    font-size: 3.5vh;
}

.avatarIMG {
    border-radius: 50%;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.65);
  
}

/* MOBILE */
@media (max-width: 768px) {
    .containerInfo {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(2, 50%);
        grid-template-columns: none;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 0;
    }
    .avatarIMG{
        width: 90%;
    }
    .descriptionInfo{
        font-size: 2.5vh;
    }
    .titleInfo{
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .boxRight{
        margin: 0% 5%;
    }
}

/* DESKTOP BIG*/
@media (min-width: 1800px) {

}
