.containerProject {
    padding-top: 1px;
    padding-bottom: 5%;
}

.containerTitleProject>h1 {
    text-align: center;
    font-weight: 600;
    letter-spacing: 5px;
    text-shadow: 2px 2px 3px rgb(197, 197, 197), 0 0 0px rgb(197, 197, 197), 2px 2px 3px rgb(197, 197, 197);
    padding-bottom: 5vh;
}

.containerInfoProject {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    width: 100%;
    gap: 5vh;
    justify-content: center;
}

.containerCard {
    background-color: whitesmoke;
    border: 2px solid var(--coloraccesorios);
    box-shadow: 0 0 0px #000000, 10px 10px 5px #1e1e1e;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    min-height: none;
    max-height: none;
    transition: 0.5s all ease-in-out;
}

.containerCard:hover{
    
    box-shadow: 12px 8px 20px #000000, 2px 2px 9px 1px #1e1e1e;
}

.cardHead {
    width: 100%;
    background: var(--coloraccesorios);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
}

.cardHead>p {
    padding: 0;
    margin: 0;
}

.cardTitle,
.cardDesc,
.cardTech,
.cardBtn {
    padding-left: 5%;
    padding-right: 5%;
    color: var(--bkcontraste);
}

.cardTitle {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    padding: 5% 0% 0% 0%;
}

.cardTitle>h1 {
    font-size: 4vh;
    margin: 0;
    font-weight: 500;
}

.cardDesc{
}

.cardDesc>p {
    margin: 0;
    padding: 5% 0% 5% 0%;
    text-align: center;
}

.cardThumb>img {
    width: 100%;
    /* border-radius: 10px 10px 0px 0px; */
    border-bottom: 2px solid var(--coloraccesorios);
}

.cardTech {
    width: 100%;
    color: var(--colorletra);
}

.cardTech>ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    width: 100%;
    padding: 0;
    gap: 5px;
    justify-content: center;
}

.cardTech>ul>li {
    text-align: center;
    background-color: var(--coloraccesorios);
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    display: flex;
}

.cardBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 8%;
}

.btnDeploy {
    text-decoration: none;
    background: var(--coloraccesorios);
    color: var(--colorletra);
    padding: 5% 5%;
    border-radius: 2px;
    font-weight: 500;
    letter-spacing: 2px;
    border: 1px solid var(--coloraccesorios);
    transition: .3s all ease-in-out;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 600;
}

.btnDeploy:hover {
    border: 1px solid var(--coloraccesorios);
    background: transparent;
    color: var(--bkcontraste);
}

.btnGithub {
    text-decoration: none;
    border: 1px solid var(--coloraccesorios);
    background: transparent;
    color: var(--bkcontraste);
    padding: 5% 5%;
    border-radius: 2px;
    font-weight: 500;
    letter-spacing: 2px;
    border: 1px solid var(--coloraccesorios);
    transition: .3s all ease-in-out;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 600;
}

.btnGithub:hover {
    border: 1px solid var(--coloraccesorios);
    background: var(--coloraccesorios);
    color: var(--colorletra);
}

/* MOBILE */
@media (max-width: 768px) {
    .containerProject {
        padding-top: 20%;
        padding-bottom: 10%;
    }

    .containerInfoProject {
        grid-template-columns: auto;
        margin: 0% 5% 0% 5%;
        width: 90%;
    }

    .containerCard {
        max-height: none;
    }

    .cardTitle>h1 {
        font-size: 30px;
    }

    .cardDesc>p {
        font-size: 20px;
    }

    .cardTech>ul>li {
        font-size: 22px;
    }

    .btnDeploy,
    .btnGithub {
        font-size: 25px;
    }
}

/* DESKTOP BIG*/
@media (min-width: 1800px) {
    .containerCard {
        max-height: none;
    }

    .cardTitle {
        padding-left: 5%;
        padding-right: 5%;
    }
}