@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;600;700&display=swap');

:root{
    --bkcolor: #535353;
    --bkcolorlight: #e7e7e7;
    --bkcontraste: #232323;
    --coloraccesorios: #dc3545;;
    --colorletra: #ffffff;
}

*{
    font-family: 'Chakra Petch', sans-serif;
    padding: 0;
    margin: 0;
    left: 0;
    transition: .1s all;
}

.bgBodyLight{
    background-color: var(--bkcolorlight);
    color: var(--bkcontraste);
}

.bgBodyDark{
    color: var(--colorletra);
    background-color: var(--bkcolor);
}

::-webkit-scrollbar{
	width: 5px;
    height: 0;
}

::-webkit-scrollbar-track{
	background: #232323;
}

::-webkit-scrollbar-thumb{
	background: #ffffff;
    border-radius: 5px;
}
